@import "../../variables";
.post-page{
  width: 60vw;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(204,204,204,1);
  border-radius: 5px;
  color: #161616;
  margin:20px 0 0 15px;
  padding: 10px 20px;
  overflow-y: scroll;
  height: calc(100% - 20px);
}
.post-page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;


  h2{
    margin: 0;
    padding: 0;
    color:$blueText;
  }
}
.post-info{
  margin-top: 20px;
  display: flex;
  align-items: center;


  small{
    margin-left: 10px;
  }
}
