<div class="post-page">
  <div class="post-page-header">
    <h2>Post title</h2>
    <button class="btn" [routerLink]="['']">На головну</button>
  </div>
  <div class="post-info">
    <div class="user"> Тут Автор</div>
    <small>12.09.2021</small>

  </div>
   <hr>
  <div class="post-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      doloremque esse ipsam officiis sit tempore. Accusamus culpa cupiditate
      nihil possimus tenetur. Cum esse eveniet fugiat incidunt minus numquam
      quas ratione tenetur veritatis voluptates! Aliquam aut eaque eos excepturi
      expedita, labore magni, minus nemo nulla pariatur placeat quo ratione sit
      tempore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      doloremque esse ipsam officiis sit tempore. Accusamus culpa cupiditate
      nihil possimus tenetur. Cum esse eveniet fugiat incidunt minus numquam
      quas ratione tenetur veritatis voluptates! Aliquam aut eaque eos excepturi
      expedita, labore magni, minus nemo nulla pariatur placeat quo ratione sit
      tempore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      doloremque esse ipsam officiis sit tempore. Accusamus culpa cupiditate
      nihil possimus tenetur. Cum esse eveniet fugiat incidunt minus numquam
      quas ratione tenetur veritatis voluptates! Aliquam aut eaque eos excepturi
      expedita, labore magni, minus nemo nulla pariatur placeat quo ratione sit
      tempore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      doloremque esse ipsam officiis sit tempore. Accusamus culpa cupiditate
      nihil possimus tenetur. Cum esse eveniet fugiat incidunt minus numquam
      quas ratione tenetur veritatis voluptates! Aliquam aut eaque eos excepturi
      expedita, labore magni, minus nemo nulla pariatur placeat quo ratione sit
      tempore.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      doloremque esse ipsam officiis sit tempore. Accusamus culpa cupiditate
      nihil possimus tenetur. Cum esse eveniet fugiat incidunt minus numquam
      quas ratione tenetur veritatis voluptates! Aliquam aut eaque eos excepturi
      expedita, labore magni, minus nemo nulla pariatur placeat quo ratione sit
      tempore.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      doloremque esse ipsam officiis sit tempore. Accusamus culpa cupiditate
      nihil possimus tenetur. Cum esse eveniet fugiat incidunt minus numquam
      quas ratione tenetur veritatis voluptates! Aliquam aut eaque eos excepturi
      expedita, labore magni, minus nemo nulla pariatur placeat quo ratione sit
      tempore.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      doloremque esse ipsam officiis sit tempore. Accusamus culpa cupiditate
      nihil possimus tenetur. Cum esse eveniet fugiat incidunt minus numquam
      quas ratione tenetur veritatis voluptates! Aliquam aut eaque eos excepturi
      expedita, labore magni, minus nemo nulla pariatur placeat quo ratione sit
      tempore.</p>
  </div>
</div>
