//$purple: #51438f;
//$lightPurple: #6f5cc3;
//$purpleActive: #7d6cc9;

$purple: #2b2b2b;
$lightPurple: #5f5f5f;
$purpleActive: #b3b3b3;

$gray: #f7f7f7;
$green: #9bd29e;
$greenLight: #d1ead2;
$pink: #f5cfcc;
$red: #e74e42;
$blueText: #0A1F44;
$shadow: 0px 0px 4px 0px rgba(204,204,204,1);
